<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>


    <div class="cartProduct" id="cartProduct">
        <p id="productName"></p>
   <img id="productImg" src="" alt="">
</div>

    <%- include('./partials/footer.ejs') %>
    <script src="/scripts/cartList.js"></script>
</body>
