<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <img class="banner" src="/images/img-home-banner.jpg" alt="">
    <main class="login-main">
        <form class="login-form" action="/login" method="POST" enctype="multipart/form-data">
            <div class="form-login">
                <label for="">Nombre y Apellido</label>
                <input type="text" name="fullname" required>
                <span class="user-error"></span>
                <label for="">Contraseña</label>
                <input type="password" name="password" class="password" required> 
                <span class="password-error" id="ojito"><i class="fas fa-eye"></i></span>

            </div>
            <button class="enviar" type="register">Log In</button>

        </form>
    </main>
    
    <%- include('./partials/footer.ejs') %>
<script src="scripts/script.js"></script>
</body>
</html>