<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main class="register-main">  
        <!-- FORMULARIO -->
        <form class="register-form" id="register" action="/register" method="POST" enctype="multipart/form-data"><!--ENCTYPE SE AGREGA SOLO SI TENEMOS INPUT DE TIPO FILE-->
            
            
            <div class="form-control">
                <label for="">Nombre y Apellido</label>
                <input type="text" placeholder="Ej: Pablo Perez" >
                <span  id="name" style="color: red"></span>
            </div>
            <div class="form-control">
                <label for="">Usuario</label>
                <input type="text" name="user" selected >
                
            
            </div>
            <div class="form-control">
                <label for="">Fecha de nacimiento</label>
                <input type="date" name="birthdate" placeholder="" selected >
            
            </div>
            <div class="form-control">
                <label for="">Email</label>
                <input type="text" name="email">
            
            </div>


            <div class="form-control-avatar">
                <label for="">Avatar</label>
                <input type="file" name="avatar">
            
            </div>
            <div class="form-control">
                <label for="">Contraseña</label>
                <input type="password" name="password" selected >
            
            </div>
            
                <div class="buttons-box">
                    <button class="enviar" type="submit">Registrate</button>
                    <button class="enviar" type="reset">Borrar</button>
                </div>
            
        </form>
    </main>
    
    <%- include('./partials/footer.ejs') %>
    <script src="scripts/register.js"></script>
</body>
</html>