<header>
    <div class='contenedorHeader01'> 
   <a class='logo' href="/"><img src='/images/logo-mercado-liebre.svg'></a>
        
         <div class='buscador'>
             
            
             <input class="barra-busqueda" type="text" placeholder ="Barra de busqueda...">
             <i id="lupa-buscador" class="fas fa-search"></i>
        </div>
        
                <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
            
            </div>

                        <nav class='contenedorMenu'>
                            <div class="location-delivery">
                                <i class="fas fa-map-marker-alt"></i>
                                <a href='#'>Entregas a capital</a> 
                            </div>
                            <div class='contenedorMenu1'>
                                <a href='/'>Ofertas</a>
                                <a href='#'>Tiendas Oficiales</a>
                                <a href='#'>Vender</a>
                                <a href='#'>Ayuda</a>
                            </div>
                            <div class='contenedorMenu2'>
                                <a href='/register'>Creá tu cuenta</a>
                                <a href='/login'>Ingresá</a> 
                                <a href='/cart'>Mis compras <i class="fas fa-shopping-cart"></i></a>
                                <p class="cart_number"id="cart_number"></p>
                            </div>
                        </nav>
                       
                        <div class="burguer-menu"> <i class='fas fa-bars'></i></div>
              
</header>